*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--main-bkg);
  color: var(--text-color);
}

:root {
  --main-bkg: #ffffff;
  --main-color: #212121;
  --second-color: #ffffff;
  --text-color: #757575;
  --akcent-color: #2196f3;
  --footer-color: rgba(255, 255, 255, 0.6);
  --btn-color: #ffffff;
  --main-title-color: #ffffff;
  --title-color: #212121;
  --btn-bkg: #f5f4fa;
  --typical-padding: 94px;
  --icon-bgc: #ffffff;
  --icon-fill: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.centered {
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo,
.footer__logo {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo,
.footer__logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-weight: 700;
  }
}

.logo__text {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__text--start {
  color: var(--akcent-color);
}

.logo__text--end {
  color: var(--main-color);
}

.footer__logo--start {
  color: var(--akcent-color);
}

.footer__logo--end {
  color: var(--second-color);
}

.nav {
  display: none;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}

.menu {
  display: flex;
  margin-left: 93px;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms var(--timing-function);
}
.menu__link:hover, .menu__link:focus {
  color: var(--akcent-color);
}

.menu__link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--akcent-color);
  border-radius: 2px;
}

.current {
  color: var(--akcent-color);
}

.mob-menu {
  position: fixed;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.mob-menu__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
  padding: 48px 40px;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.mob-menu__open-btn,
.mob-menu__close-btn {
  display: block;
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .mob-menu__open-btn,
.mob-menu__close-btn {
    display: none;
  }
}

.mob-menu__close-btn {
  display: flex;
  position: absolute;
  right: 15px;
  top: 10px;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms var(--timing-function);
}
.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--akcent-color);
}

.mob-menu__link-active {
  color: var(--akcent-color);
}

.mob-menu__contact-list {
  margin-bottom: 64px;
}

.mob-menu__contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__contact-tel {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--akcent-color);
}

.mob-menu__contact-mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.mob-menu__icon {
  transition: color 250ms var(--timing-function);
}
.mob-menu__icon:hover, .mob-menu__icon:focus {
  fill: var(--akcent-color);
}

.mob-menu__soc-list {
  display: flex;
}

.mob-menu__soc-item {
  padding-right: 10px;
}
.mob-menu__soc-item:not(:first-child) {
  padding-left: 10px;
}
.mob-menu__soc-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu__soc-link {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: rgb(33, 150, 243);
}
@media screen and (max-width: 479px) {
  .mob-menu__soc-link {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
}

.hero__btn {
  border: 0px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 136px;
  align-items: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--second-color);
  background-color: var(--akcent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

@media screen and (max-width: 1199px) {
  .footer__subs {
    margin-top: 60px;
  }
}

.footer-subs__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  transition: border-color 250ms var(--timing-function);
}
.footer-subs__input:focus, .footer-subs__input:hover {
  outline: transparent;
  border-color: var(--akcent-color);
  color: var(--text-color);
}
@media screen and (min-width: 480px) {
  .footer-subs__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subs__input {
    width: 358px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  background: var(--btn-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  transition: transform 250ms var(--timing-function);
}
@media screen and (max-width: 479px) {
  .modal {
    transform: translate(-50%, -40%) scale(1);
    overflow-y: scroll;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    transform: translate(-50%, -50%) scale(1);
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--icon-bgc);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill 250ms var(--timing-function);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  fill: var(--akcent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  color: var(--main-color);
}

.modal__field {
  margin-bottom: 10px;
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.input-wrap {
  position: relative;
  transition: fill 250ms var(--timing-function);
}
.input-wrap:focus-within {
  fill: var(--akcent-color);
  outline: transparent;
  border-color: var(--akcent-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 41px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms var(--timing-function);
}
.modal-input:focus {
  outline: transparent;
  border-color: var(--akcent-color);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal__textarea {
  margin-bottom: 20px;
}

.modal-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms var(--timing-function);
}
.modal-text:focus {
  outline: transparent;
  border-color: var(--akcent-color);
}

.modal__checkbox {
  margin-bottom: 30px;
}

.check-text {
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 1.17;
  color: var(--text-color);
  align-items: center;
}
@media screen and (min-width: 480px) {
  .check-text {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.7;
  }
}

.check-text a {
  color: var(--akcent-color);
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 1px solid rgb(0, 0, 0);
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .check-text span {
    margin-right: 8px;
  }
}

.check-icon {
  fill: transparent;
  width: 100%;
  height: 100%;
}

.input-check {
  transition: border-color 250ms var(--timing-function);
}
.input-check:checked + .check-text span {
  background-color: var(--akcent-color);
  border: none;
}
.input-check:checked + .check-text .check-icon {
  fill: var(--icon-bgc);
}

.modal__send-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--second-color);
  background: var(--akcent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}
.modal__send-btn:focus, .modal__send-btn:hover {
  background-color: #188ce8;
}

.header {
  border-bottom: 1px solid rgb(236, 236, 236);
}

.contact {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contact {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item {
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    background-size: contain;
  }
  .contact__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contact__mail,
.contact__tel {
  display: flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms var(--timing-function);
}
.contact__mail:hover, .contact__mail:focus,
.contact__tel:hover,
.contact__tel:focus {
  color: var(--akcent-color);
}
@media screen and (min-width: 1200px) {
  .contact__mail,
.contact__tel {
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.header .container {
  height: 60px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header .container {
    height: 80px;
  }
}

.hero .container {
  max-width: 100%;
  padding: 0;
}

.hero {
  padding: 118px 0;
  max-width: 480px;
  height: 400px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-480.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-480@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-768@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1600px;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-1200.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-1200@2x.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-title-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.advantage {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .advantage {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.advantage__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .advantage__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantage__item {
    width: calc((100% - 90px) / 4);
  }
}

.advantage-icons__list {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantage__icons {
  width: 100%;
  height: 100%;
}

.advantage__subtitle {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
}
@media screen and (min-width: 768px) {
  .advantage__subtitle {
    text-align: left;
  }
}

.advantage__text {
  line-height: 1.71;
  color: var(--text-color);
}

.about.section {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 1200px) {
  .about.section {
    display: flex;
    padding-bottom: 94px;
  }
}

.about__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  color: var(--title-color);
  margin-bottom: 50px;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
}

.about__item {
  width: 370px;
  position: relative;
}
.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__caption {
  position: absolute;
  display: flex;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-color);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.16;
  color: var(--title-color);
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--main-bkg);
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__wrap {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__wrap {
    padding-bottom: 30px;
  }
}

.team__subtitle {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
  color: var(--main-color);
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-list__item {
  height: 44px;
  width: 44px;
  margin-left: 10px;
}
.social-list__item:first-child {
  margin-left: 0;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--icon-bgc);
  color: var(--icon-fill);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--akcent-color);
  color: var(--second-color);
}

.social-list__icon {
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.16;
  color: var(--title-color);
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .clients__list {
    margin-top: 50px;
  }
}

.clients__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid var(--icon-fill);
  border-radius: 4px;
  background-color: var(--icon-bgc);
  color: var(--icon-fill);
  transition: border 250ms var(--timing-function), color 250ms var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--akcent-color);
  color: var(--akcent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer__container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    text-align: start;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .footer__contact {
    margin-bottom: 60px;
  }
}

.footer__address {
  margin-top: 20px;
  color: var(--second-color);
  transition: color 250ms var(--timing-function);
}
.footer__address:hover, .footer__address:focus {
  color: var(--akcent-color);
}

.footer__list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__link {
  color: var(--footer-color);
  transition: color 250ms var(--timing-function);
}
.footer__link:hover, .footer__link:focus {
  color: var(--akcent-color);
}

@media screen and (max-width: 767px) {
  .footer__social {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social {
    align-items: center;
    justify-content: center;
    margin-left: 70px;
  }
}

.footer__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-color);
}

.footer-soc__list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-soc__item {
  height: 44px;
  width: 44px;
  margin-left: 10px;
}
.footer-soc__item:first-child {
  margin-left: 0;
}

.footer-soc__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: var(--second-color);
  transition: background-color 250ms var(--timing-function);
}
.footer-soc__link:hover, .footer-soc__link:focus {
  background-color: var(--akcent-color);
}

.footer-soc__icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .footer__subs {
    margin-left: auto;
  }
}

.footer-subs__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-color);
}

@media screen and (min-width: 1200px) {
  .footer-subs__form {
    display: flex;
  }
}

.footer-subs__btn {
  display: flex;
  padding: 10px 28px;
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--second-color);
  background: var(--akcent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .footer-subs__btn {
    margin-left: 12px;
  }
}
.footer-subs__btn:focus, .footer-subs__btn:hover {
  background-color: #188ce8;
}

.footer-subs__icon {
  position: absolute;
  right: 28px;
  top: 50%;
  margin-left: 10px;
  transform: translateY(-50%);
}

.holder {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .holder {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.holder__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  column-gap: 8px;
  row-gap: 15px;
}
@media screen and (min-width: 768px) {
  .holder__list {
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .holder__list {
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
  }
}

.holder__btn {
  border: 0px;
  min-width: 73px;
  padding: 6px 24px;
  border-radius: 4px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background: var(--btn-bkg);
  cursor: pointer;
  text-align: center;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.holder__btn:hover, .holder__btn:focus {
  background-color: var(--akcent-color);
  color: var(--second-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.gallery__item {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item {
    width: 370px;
  }
}

.gallery__item--active {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms var(--timing-function);
}
.gallery__item--active:hover, .gallery__item--active:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__item--active:hover .gallery__text,
.gallery__item--active:focus .gallery__text {
  transform: translateY(0);
}

.gallery__wrap {
  position: relative;
  overflow: hidden;
}

.gallery__text {
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1.55;
  color: var(--second-color);
  background-color: rgba(33, 150, 243, 0.9);
  min-width: 322px;
  height: 100%;
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(101%);
  transition: transform 250ms var(--timing-function);
}

.gallery__inner {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.gallery__title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.gallery__subtitle {
  font-size: 16px;
  line-height: 1.9;
  color: var(--text-color);
}/*# sourceMappingURL=main.css.map */