.about.section {
 padding-top: 0;
 display: none;
 @media screen and (min-width: 1200px) {
  display: flex;
  padding-bottom: 94px;
}
}

.about__title {
  @include font(36px, 700, 1.16, null);
  color: var(--title-color);
  margin-bottom: 50px;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
}

.about__item {
  width: 370px;
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.about__caption {
  position: absolute;
  display: flex;

  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;

  @include placing(center, center);
  @include font(null, 700, 1.14, null);
  text-transform: uppercase;

  color: var(--second-color);
  background: rgba(47, 48, 58, 0.8);
}
