.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px; 
  }
}

.clients__title {
  @include font(28px, 700, 1.16, null);
  color: var(--title-color);

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @include placing(null, center);
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    margin-top: 50px;
  }
}

.clients__item {
  width: calc((100% - 30px) / 2);

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  @include placing(center, center);
  width: 100%;
  height: 92px;
  border: 1px solid var(--icon-fill);
  border-radius: 4px;
  background-color: var(--icon-bgc);
  color: var(--icon-fill);

  transition: border 250ms var(--timing-function), color 250ms var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--akcent-color);
    color: var(--akcent-color);
  }
}

.clients__icon {
  fill: currentColor;    
}
