.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.contact {
  display: none;
  @include placing(center, null);
  margin-left: auto;
}

.contact__item {
  @include placing(center, center);
  background-size: contain;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contact__mail,
.contact__tel {
  display: flex;
  @include placing(center, null);
  padding-top: 32px;
  padding-bottom: 32px;

  @include font(14px, 500, 1.14, 0.02em);
  color: var(--text-color);

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--akcent-color);
  }
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.header .container {
  display: flex;
  @include placing(center, center);
}

.mob-menu {
  position: fixed;
  background-color: #FFFFFF;
  // z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 40px;
  padding-left: 40px;
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: auto;
  }
}

.mob-menu__open-btn,
.mob-menu__close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 0;
  
  border: none;
  background-color: transparent;
  cursor: pointer;

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--akcent-color);
  }
}


.mob-menu__item {  
  &:not(:last-child){
    margin-bottom: 32px;
  }
}

.mob-menu__link {
  @include font(40px, 500, 1.17, 0.02em);
  color: var(--main-color);
 
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--akcent-color);
  }
}


.mob-menu__contact-list {
  margin-bottom: 64px;
}

.mob-menu__contact-item {
  &:not(:last-child){
    margin-bottom: 32px;
  }
}
.mob-menu__contact-tel {
  @include font(34px, 500, 1.17, 0.02em);
  color: var(--akcent-color);
}

.mob-menu__contact-mail {
  @include font(24px, 500, 1.16, 0.02em);
  color: var(--text-color);
}

.mob-menu__soc-list {
  display: flex;
}

.mob-menu__soc-item {
  position: relative;
}

.mob-menu__soc-link {
  @include font(18px, 500, 1.22, 0.02em);
  color:rgba(33, 150, 243, 1);
  margin-right: 20px;

  &::after {
    content: '';
    position: absolute;
  width: 22px;
  height: 0;
  
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  }
}


