.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery__item {
  width: 370px;
  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.gallery__item--active {
  display: block;

  transition: box-shadow 250ms var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.gallery__item--active:hover .gallery__text,
.gallery__item--active:focus .gallery__text {
  transform: translateY(0);
}

.gallery__wrap {
  position: relative;
  overflow: hidden;
}

.gallery__text {
  position: absolute;
  top: 0;

  @include font(18px, null, 1.55, null);
  color: var(--second-color);
  background-color: rgba(33, 150, 243, 0.9);
  min-width: 322px;
  height: 100%;
  padding: 63px 24px;

  overflow: auto;

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.gallery__inner {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.gallery__title {
  margin-bottom: 4px;

  @include font(18px, 700, 2, 0.06em);
  color: var(--title-color);
}
.gallery__subtitle {
  font-size: 16px;
  line-height: 1.9;
  color: var(--text-color);
}










