@mixin font($fsize, $fweight, $lheight, $lspacing) {
  font-size: $fsize;
  font-weight: $fweight;
  line-height: $lheight;
  letter-spacing: $lspacing;
}

@mixin placing($a-items, $j-content) {
  align-items: $a-items;
  justify-content: $j-content;
}
